name: main

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: ".tool-versions"
          cache: "npm"

      - name: Install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
      - name: Format
        run: npm run fmtcheck
      # - name: "check for uncommitted changes"
      #   # Ensure no changes, but ignore node_modules dir since dev/fresh ci deps installed.
      #   run: |
      #     git diff --exit-code --stat -- . ':!node_modules' \
      #     || (echo "##[error] found changed files after build. please 'npm run build && npm run fmt'" \
      #             "and check in all changes" \
      #         && exit 1)
